Client/Connected Services/UserServiceReference/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="friends" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profile_pic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="likes" type="xs:int" />
      <xs:element minOccurs="0" name="post_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="post" nillable="true" type="tns:post" />
  <xs:complexType name="ArrayOfDisplayPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisplayPost" nillable="true" type="tns:DisplayPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisplayPost" nillable="true" type="tns:ArrayOfDisplayPost" />
  <xs:complexType name="DisplayPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="profilepicpath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pst" nillable="true" type="tns:post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayPost" nillable="true" type="tns:DisplayPost" />
  <xs:complexType name="ArrayOfpost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="post" nillable="true" type="tns:post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpost" nillable="true" type="tns:ArrayOfpost" />
</xs:schema>