Client/Connected Services/UserServiceReference/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/UserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:element name="RequestUSer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Error" nillable="true" type="xs:string" />
  <xs:element name="StatusCode" type="xs:int" />
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="pst" nillable="true" type="q3:post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>